.archContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.archRecord {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: 3px;
  margin-top: 5px;
}

.archHeader {
  display: flex;
  margin: 3px;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.archBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
table,
th,
td {
  border: 1px solid black;
  width: max-content;
}
th {
  padding-left: 5px;
  padding-right: 5px;
}
